{% extends 'base.html' %}

{% block title %}系统设置 - XLY VPN 管理后台{% endblock %}

{% block content %}
<div class="container my-4">
  <h3 class="mb-4">系统设置</h3>

  <!-- Virtual Network Section -->
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">虚拟网络列表</h5>
            <a href="{{ url_for('system.add_net_work') }}" class="btn btn-sm btn-primary">
                <i class="bi bi-plus-lg"></i> 添加虚拟网络
            </a>
        </div>
    <div class="card-body p-0">
      {% if net_works %}
      <table class="table table-hover mb-10">
        <thead class="table-dark" >
          <tr>
            <th>名称</th>
            <th>服务器IP</th>
            <th>网关</th>
            <th>网段</th>
            <th>监听端口</th>
            <th>创建时间</th>
            <th>创建人</th>
          </tr>
        </thead>
        <tbody>
          {% for iface in net_works %}
          <tr>
            <td>{{ iface.name }}</td>
            <td>{{ iface.server_ip }}</td>
            <td>{{ iface.gate_way }}</td>
            <td>{{ iface.ip_pool }}</td>
            <td>{{ iface.listen_port or '-' }}</td>
            <td>{{ iface.created_at }}</td>
            <td>{{ iface.created_by }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="p-3 text-muted text-center">还没有添加任何网络。</div>
      {% endif %}
    </div>
  </div>

  <!-- Future sections (e.g., global config, DNS settings) can go here -->
</div>
{% endblock %}
